<!DOCTYPE html>
<html>
  <head>
    <%- include("common-head.ejs") %>
    <title>The Showrunners: Cake Duty</title> 
  </head>
  <body>
    <header>
      <div id="logo">THE SHOWRUNNERS</div>
      <div>Cake Duty!</div>
    </header>
    <article>

    </article>
  </body>
</html>