<!DOCTYPE html>
<html>
  <head>
    <%- include("common-head.ejs") %>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <title>Everything is canon in our world - The Showrunners</title> 
  </head>
  <body>
    <main>
      <div>
        Everything is canon in our world.
      </div>
    </main>
  </body>
</html>